header {
  text-align: center;
  padding: 40px;
  background-color: #305973;
  border-radius: 30px;
  color: #ded5c4;
  margin: 60px 20px 0px 20px;
}
.weather-title {
  text-align: center;
  padding: 40px 0 0 0;
  color: #305973;
  font-size: 60px;
}
.today {
  font-size: 30px;
}
.weather-app {
  border: 1px solid #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
}
form {
  margin-bottom: 20px;
}
body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background: #f9f9f9;
}
#search-button,
#current-location-button {
  background-color: #ef7e56;
  border-color: #ef7e56;
  color: #f9f9f9;
}
.code-link {
  text-align: center;
  margin: 50px 0;
}
ul {
  list-style: none;
  text-align: center;
  position: relative;
  right: 17px;
}
li {
  display: inline-block;
  padding: 10px 40px 10px 40px;
  background-color: #ded5c4;
  border-radius: 10px;
  margin: 15px 10px 0 10px;
}
