header {
  text-align: center;
  padding: 40px;
  background-color: #305973;
  border-radius: 30px;
  color: #ded5c4;
  margin: 60px 20px 60px 20px;
}
.today {
  font-size: 30px;
}
.weather-app {
  border: 1px solid #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
}
form {
  margin-bottom: 20px;
}
body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background: #f9f9f9;
}
#search-button,
#current-location-button {
  background-color: #ef7e56;
  border-color: #ef7e56;
  color: #f9f9f9;
}
.code-link {
  text-align: center;
}
